<header class="site-header">
  <div class="container header-flex">
    <h1 class="logo">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <nav class="nav">
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' or page.url == '/index.html' %}class="current"{% endif %}>Home</a>
      <a href="{{ '/projects' | relative_url }}" {% if page.url contains '/projects' %}class="current"{% endif %}>Projects</a>
      <a href="{{ '/blog' | relative_url }}" {% if page.url contains '/blog' %}class="current"{% endif %}>Posts</a>
      <a href="{{ '/about' | relative_url }}" {% if page.url contains '/about' %}class="current"{% endif %}>About Me</a>
    </nav>
  </div>
</header>
